.current-weathrer {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 40px;
}

.current-weathrer h3 {
  font-size: 20px;
  color: rgba(233, 189, 122, 0.9);
}
.current-weathrer h2 {
  font-size: 48px;
  margin-top: 20px;
}
.current-weathrer p {
  font-size: 20px;
  margin-top: 40px;
}
@media (max-width: 1023px) {
  .current-weathrer h2 {
    font-size: 36px;
  }
}
