main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  background: url(./images/bg.jpg) 50% 100% / cover no-repeat;
  color: #fff;
}

.weather-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px 0;
}
